<!-- <hello name="{{ name }}"></hello> -->
<p>
  Start editing to see some magic happen :)
</p>
<div class="row">
  <div class="col-sm-4">
    <button (click)="show()">Show error</button>
  </div>
  <div class="col-sm-4">
    <button (click)="options()">Data</button>
  </div>
  <div class="col-sm-4">
    <button (click)="warning()">Warning</button>
  </div>
</div><br>

<div class="row">
  <div class="col-sm-4">
    <button (click)="success()">Success</button>
  </div>
  <div class="col-sm-4">
    <button (click)="question()">Question</button>
  </div>
  <div class="col-sm-4">
    <button (click)="info( )">Info</button>
  </div>
</div>